#reposta_certa button{
    background-color: limegreen;
    color: whitesmoke;
    margin-left: 1.2%;

}
#pergunta_errada button{
    background-color: red;
    color: whitesmoke;
    margin-left: 1.2%;
}
table{
    border-collapse: collapse;   
}
table td{
    width: 10%;
    text-align: center;
}
#perguntas_nao_feitas button{
    background-color: darkgray;
    color: whitesmoke
}