
#opcoes{
    text-align: center;
}
#opcoes h1{
    text-align: center;
    color: white;
}
#opcoes li{
    list-style-type: none;
    display: inline-block;
    position: relative;
    left: 0px;
}
#opcoes #p1 button{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 70px;
    color: blanchedalmond;
    background-color: blue;
    font-size: 160%;
}
#opcoes #p1 button:hover{
    background: linear-gradient(yellow,blue,yellowgreen);
}
#opcoes #p2 button{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 70px;
    color: blanchedalmond;
    background-color: black;
    font-size: 180%;
}
#opcoes #p2 button:hover{
    background: linear-gradient(black,white,darkblue);
    color: red;
}
#opcoes #p3 button{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 70px;
    color: blanchedalmond;
    background-color: red;
    font-size: 180%;
}
#opcoes #p3 button:hover{
    background: linear-gradient(darkgreen,darkred,darkgray);
    color: white;
}
#opcoes #p4 button{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 70px;
    color: blanchedalmond;
    background-color:cadetblue;
    font-size: 180%;
}
#opcoes #p4 button:hover{
    background: linear-gradient(aqua,blueviolet,cornflowerblue);
    color: white;
}
#opcoes #p5 button{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 70px;
    color: blanchedalmond;
    background-color:coral;
    font-size: 180%;
    
}
#opcoes #p5 button:hover{
    background: linear-gradient(chartreuse,darkcyan,darkmagenta);
    color: white;
}
#opcoes #p6 button{
    display: block;
    width: 200px;
    height: 210px;
    border-radius: 70px;
    color: white;
    background-color: deepskyblue;
    font-size: 160%;
}
#opcoes #p6 button:hover{
    background: linear-gradient(deepskyblue,darkgoldenrod,darkorchid);   
}
#opcoes #p7 button{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 70px;
    color: white;
    background-color:crimson;
    font-size: 160%;
}
#opcoes #p7 button:hover{
    background: linear-gradient(forestgreen,gold,hotpink);
}
#opcoes #p8 button{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 70px;
    color: white;
    background-color:greenyellow;
    font-size: 160%;
}
#opcoes #p8 button:hover{
    background: linear-gradient(forestgreen,gold,greenyellow);
}
#opcoes #p9 button{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 70px;
    color: white;
    background-color:indigo;
    font-size: 160%;
}
#opcoes #p9 button:hover{
    background: linear-gradient(lawngreen,indigo,lightskyblue);
    
}
#opcoes #p10 button{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 70px;
    color: white;
    background-color:khaki;
    font-size: 160%;
}
#opcoes #p10 button:hover{
    background: linear-gradient(mediumblue,mediumorchid,mediumpurple);
}
#opcoes #p11 button{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 70px;
    color: white;
    background-color:magenta;
    font-size: 160%;
}
#opcoes #p11 button:hover{
    background: linear-gradient(mediumaquamarine,mediumseagreen,mediumslateblue);
    
}
#opcoes #p12 button{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 70px;
    color: white;
    background-color:navy;
    font-size: 160%;
}
#opcoes #p12 button:hover{
    background: linear-gradient(mediumspringgreen,mediumturquoise,mediumvioletred);
}
#opcoes #p13 button{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 70px;
    color: white;
    background-color:orangered;
    font-size: 160%;
}
#opcoes #p13 button:hover{
    background: linear-gradient(midnightblue,rebeccapurple,royalblue);
}
#opcoes #p14 button{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 70px;
    color: white;
    background-color:royalblue;
    font-size: 160%;
}
#opcoes #p14 button:hover{
    background: linear-gradient(orangered,turquoise,violet);   
}
#opcoes #p15 button{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 70px;
    color: white;
    background-color:deepskyblue;
    font-size: 160%;
}
#opcoes #p15 button:hover{
    background: linear-gradient(red, orange, yellow, green, blue, indigo, violet); 
}
#opcoes #p16 button{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 70px;
    color: white;
    background-color:deeppink;
    font-size: 160%;
}
#opcoes #p16 button:hover{
    background: linear-gradient(deepskyblue,deeppink,darkslategrey); 
}
#opcoes #p17 button{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 70px;
    color: white;
    background-color:brown;
    font-size: 160%;
}
#opcoes #p17 button:hover{
    background: linear-gradient(dodgerblue,firebrick,forestgreen); 
    
}
#opcoes #p18 button{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 70px;
    color: white;
    background-color: darkseagreen;
    font-size: 160%;
}
#opcoes #p18 button:hover{
    background: linear-gradient(brown,darksalmon,dimgray );  
   
    
}
#opcoes #p19 button{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 70px;
    color: white;
    background-color: powderblue;
    font-size: 160%;
}
#opcoes #p19 button:hover{
    background: linear-gradient(lightblue,lightskyblue,black);     
}

#comecar {
    margin-right: 50%;
    margin-left: 50%;
}
#verificar {
    margin-top: 0.5%;
    width: 20%;
    height: 50px;
    background-color: royalblue;
    color: white;
    font-size: 110%;
    border-radius: 20px;
}
#verificar:hover{
    background: linear-gradient(red, orange, yellow, green, blue, indigo, violet);

}

#temas_algebra li{
    list-style-type: none;
    display: inline;
}
#temas_algebra li button {
    background-color: lightskyblue;
    border-radius: 30px 15px;
    width: 30%;
  
}
#aula{
    width: 80%;
}
#comentario{
    margin-left: 35%;
    
    margin-top: 1%;
    width: 30%;
    height: 120px;
    font-size: 120%;
}

#area_comentario li{
    list-style-type: none;
    border-bottom: 1px solid black;
}
#pontuacao{
    font-size: 150%;
    color: cornflowerblue;
}
#acertou{
    border: none;
    color: cornflowerblue;
    font-size: 150%;
}
.nada{
    background-color: blue;
}
#color:hover{
    background-color: darkgreen;
}
#menu {
    background-color: black;
    color: white;
    margin-top: 0;
}

#menu li {
    list-style-type: none;
    position: relative;
    display: inline-block;
    margin-left: 0%;

}

#per_res{
    background-color: white;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5%;
    padding-top: 0.5%;
    padding-right: 0.5%;
    padding-bottom: 0.5%;
}
#ranking {
    list-style-type: none;
    width: 18%;
    margin-left: 15%;
}

#ranking #lista {
    margin-bottom: 2%;
    border-bottom: 10px solid grey;
    padding: 10%;
    margin-bottom: 8%;
    background-color: white;
}

#ranking #lista #posicao {
    position: relative;
    left: -18%;
    background-color: royalblue;
    border-radius: 60px;
    padding: 4%;
    color: white;
}

#ranking #lista #nome {
    position: relative;
    bottom: 15px;
    left: 40px;
}

#ranking #lista #pontuacao2 {
    position: relative;
    top: 10px
}
#ul {
    list-style-type: none;
    width: 18%;
    margin-left: 15%;
}

#ul #lista {
    margin-bottom: 2%;
    border-bottom: 10px solid grey;
    padding: 10%;
    margin-bottom: 8%;
    background-color: white;
}

#ul #lista #posicao {
    position: relative;
    left: -18%;
    background-color: royalblue;
    border-radius: 60px;
    padding: 4%;
    color: white;
}

#ul #lista #nome {
    position: relative;
    bottom: 15px;
    left: 40px;
}

#ul #lista #pontuacao2 {
    position: relative;
    top: 10px
}

body {
    margin: 0;
    margin-top: 0;
    background-image: url('https://4.bp.blogspot.com/-Erl68iBlq_Y/WAAWASGWCMI/AAAAAAABVuU/m2RbPW7MDlgmfEhgFJ4MVy8BjdKhkQkMwCLcB/s1600/Azul.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#menu {
    background-color: black;
    color: white;
    margin-top: -16px;
}

#menu1 {
    background-color: darkblue;
    color: white;
    margin-top: 0;
}

#menu1 li {
    list-style-type: none;
    position: relative;
    display: inline-block;
    margin-left: 0px;
}

#menu1 #op01 {
    position: relative;
    color: white;
    margin-left: 0px;
    font-size: 100%;
    padding: 10px;
    background-color: green;
    border-radius: 10px;
}

#menu1 #op02 {
    position: relative;
    color: white;
    margin-left: 6px;
    font-size: 100%;
    padding: 10px;
    background-color: blue;
    border-radius: 10px;
}

#math {
    margin-top: -400px;
    margin-left: -4px;
    border: 4px solid #000;
    border-bottom: none; 
}

#comp {
    height: 160px;
    width: 180px;
    border: 1.5px solid #000;
    margin-left: 885px;
    border-radius: 5px;
    margin-top: -250px;
}

#alt {
    background-color: white;
    margin-top: -16px;
}

#mw {
    font-family: magneto;
}

#esp {
    margin-top: -1px;
}

#esp2 {
    margin-top: -18px;
}

#bot {
    background-color: white;
}

#imag {
    border: 3px solid darkblue;
    border-radius: 10px;
}

#linha {
    width: 600px;
    margin-top: -32px;
    margin-left: 0px;
}

#linha2 {
    width: 200px;
    margin-left: 1068px;
    margin-top: -50px;
}

#nome {
    margin-top: -10px;
}

#nome2 {
    font-weight: lighter;
    margin-top: 6px;
    font-size: 18px;
    background-color: royalblue;
    background-size: auto 5px;
    font-family: arial;
}

#barra {
    background-color: black;
    margin-top: -16px;
}

#barra2 {
    background-color: white;
    color: white;
    margin-top: -7.5px;
}

#barra3 {
    background-color: white;
    color: white;
    margin-top: -18px;
}

#enviar {
    margin-left: 6px;
}

#anuncio {
    font-weight: 100;
    background-color: royalblue;
    margin-left: 1068px;
    margin-top: -120px;
    font-family: magneto;
    font-size: 26px;
    text-indent: 0.2em;
}

#menu li {
    list-style-type: none;
    position: relative;
    display: inline-block;
    margin-left: 0%;
}

#menu #op1 {
    margin-left: 10%;
}

#menu #op2 {
    margin-left: 10%;
}

#menu #op3 {
    margin-left: 10%;
}

#menu #op4 {
    margin-left: 10%;
}

#menu li a {
    position: relative;
    font-family: arial;
    text-decoration: none;
    color: white;
    margin-left: 0px;
    font-size: 120%;
    padding: 10px;
}

#menu li h1 {
    margin-right: 60px;
}

#menu li a:hover {
    text-decoration: underline;
    background-color: darkblue;
    border-radius: 10px;
}

#info {
    background-color: #191970;
    height: 400px;
    margin-top: 85px;
}

#info li {
    list-style-type: none;
    display: inline-block;
    margin-top: 50px;
    width: 270px;
    margin-left: 10px;
}

#info #exe a {
    background-color: #191970;
    display: inline-block;  
    text-decoration: none;
    color: white;
    text-align: center;   
    height: 300px;
    width: 250px;   
    border: 2px solid #b0c4de;   
}

#info #rank a {
    background-color: #191970;
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    height: 300px;
    width: 250px;
    border: 2px solid #b0c4de;
}

#info #ape a {
    background-color: #191970;
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    height: 300px;
    width: 250px;
    border: 2px solid #b0c4de;  
}

#escolhas li {
    list-style-type: none;
    display: inline-block;
    width: 160px;
    margin-top: -31px;
    margin-left: 780px;
    margin-right: -780px;
}

#escolhas #pri a {
    text-decoration: none;
    background-color: black;
    width: 150px;
    display: inline-block;
    height: 200px;
    margin: 0;
    margin-top: 100px;
    color: white;
    text-align: center;
    font-size: 150%;
}

#escolhas #pri a:hover {
    background: darkblue;
}

#escolhas #pri a img {
    position: relative;
    bottom: 30px;
    background-color: blanchedalmond;
}

#escolhas #seg a {
    text-decoration: none;
    background-color: black;
    width: 150px;
    display: block;
    height: 160px;
    margin: 0;
    margin-top: 100px;
    color: white;
    text-align: center;
    font-size: 150%;
}

#escolhas #seg a:hover {
    background: darkblue;
}

#escolhas #seg a img {
    position: relative;
    bottom: 30px;
    background-color: blanchedalmond;
}

#escolhas #seg {
    position: relative;
    top: 40px;
}

#escolhas #terc a {
    text-decoration: none;
    background-color: black;
    width: 150px;
    display: block;
    height: 140px;
    margin: 0;
    margin-top: 100px;
    color: white;
    text-align: center;
    font-size: 150%;
}

#escolhas #terc a:hover {
    background: darkblue;
}

#escolhas #terc a img {
    position: relative;
    bottom: 30px;
    background-color: blanchedalmond;
}

#escolhas #terc {
    position: relative;
    top: 60px;
}

#titulo {
    margin-left: 0px;
    margin-top: -16px;
    font-family: arial;
    font-size: 30px;
    font-weight: lighter;
    color: darkblue;
    background-color: black;
    text-indent: 0.5em;
}

#segundo {
    color: white;
    margin-top: -1px;
}

#texto {
    margin-left: 0px;
    font-family: arial;
    background-color: white;
    font-size: 18px;
    font-weight: lighter;
    text-indent: 1em;
    margin-top: -16px;         
}

#texto2 {
    margin-left: 18px;
    font-family: arial;
    color: darkblue;
}

#comentario {
    position: relative;
    right: -20%;
    width: 30%;
    height: 120px;
    font-size: 120%;
}

#titulo1 {
    text-align: center;
    color: white;
    font-weight: lighter;
    font-size: 25px;
    background-color: black;
    margin-top: -16px;
}


#aparecer {
    margin-top: 0px;
    width: 120px;
    height: 50px;
    background-color: royalblue;
    color: white;
    font-size: 120%;
    border-radius: 30px;
    margin-left: 13px;
}

#aparecer:hover {
    background-color: darkblue;
}

#desaparecer {
    margin-top: 0px;
    margin-left: 13px;
    width: 130px;
    height: 50px;
    background-color: royalblue;
    color: white;
    font-size: 120%;
    border-radius: 30px;
}

#desaparecer:hover {
    background-color: darkblue;
}

#img2 {
    width: 160px;
    height: 120px;
    margin-top: 0.5px;
}
#comeco{
  margin:0;
}
#pontuacao11 {
    height: 20px;
    display: inline-block;
    margin: 0;
    width: 50%;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 140%;
}
#pontuacao12 {
    height: 20px;
    display: inline-block;
    margin: 0;
    width: 50%;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 140%;
    
}
#pontuacao13 {
    height: 20px;
    display: inline-block;
    margin: 0;
    width: 50%;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 140%;
}
#pontuacao14 {
    height: 20px;
    display: inline-block;
    margin: 0;
    width: 50%;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 140%;
    
}
#pontuacao15 {
    height: 20px;
    display: inline-block;
    margin: 0;
    width: 50%;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 140%;
}
#pontuacao16 {
    height: 20px;
    display: inline-block;
    margin: 0;
    width: 50%;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 140%;
    
}
#pontuacao17 {
    height: 20px;
    display: inline-block;
    margin: 0;
    width: 50%;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 140%;
}
#pontuacao18 {
    height: 20px;
    display: inline-block;
    margin: 0;
    width: 50%;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 140%;
    
}
#pontuacao19 {
    height: 20px;
    display: inline-block;
    margin: 0;
    width: 50%;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 140%;
}
#pontuacao20 {
    height: 20px;
    display: inline-block;
    margin: 0;
    width: 50%;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 140%;
    
}
#pontuacao21 {
    height: 20px;
    display: inline-block;
    margin: 0;
    width: 50%;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 140%;
}
#pontuacao22 {
    height: 20px;
    display: inline-block;
    margin: 0;
    width: 50%;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 140%;
    
}
#pontuacao23 {
    height: 20px;
    display: inline-block;
    margin: 0;
    width: 50%;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 140%;
}
#pontuacao24 {
    height: 20px;
    display: inline-block;
    margin: 0;
    width: 50%;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 140%;
    
}
#pontuacao25 {
    height: 20px;
    display: inline-block;
    margin: 0;
    width: 50%;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 140%;
}
#pontuacao26 {
    height: 20px;
    display: inline-block;
    margin: 0;
    width: 50%;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 140%;
    
}
#pontuacao27 {
    height: 20px;
    display: inline-block;
    margin: 0;
    width: 50%;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 140%;
}
#pontuacao28 {
    height: 20px;
    display: inline-block;
    margin: 0;
    width: 50%;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 140%;
    
}
#pontuacao29 {
    height: 20px;
    display: inline-block;
    margin: 0;
    width: 50%;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 140%;
}
#pontuacao30 {
    height: 20px;
    display: inline-block;
    margin: 0;
    width: 50%;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 140%;
    
}
#pontuacao31 {
    height: 20px;
    display: inline-block;
    margin: 0;
    width: 50%;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 140%;
}
#pontuacao32 {
    height: 20px;
    display: inline-block;
    margin: 0;
    width: 50%;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 140%;
    
}
#pontuacao33 {
    height: 20px;
    display: inline-block;
    margin: 0;
    width: 50%;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 140%;
}
#pontuacao34 {
    height: 20px;
    display: inline-block;
    margin: 0;
    width: 50%;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 140%;
    
}
#pontuacao35 {
    height: 20px;
    display: inline-block;
    margin: 0;
    width: 50%;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 140%;
}
#pontuacao36 {
    height: 20px;
    display: inline-block;
    margin: 0;
    width: 50%;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 140%;
    
}
#pontuacao37 {
    height: 20px;
    display: inline-block;
    margin: 0;
    width: 50%;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 140%;
}
#pontuacao38 {
    height: 20px;
    display: inline-block;
    margin: 0;
    width: 50%;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 140%;
    
}
#pontuacao39 {
    height: 20px;
    display: inline-block;
    margin: 0;
    width: 50%;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 140%;
}
#pontuacao40 {
    height: 20px;
    display: inline-block;
    margin: 0;
    width: 50%;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 140%;
    
}
#pontuacao41 {
    height: 20px;
    display: inline-block;
    margin: 0;
    width: 50%;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 140%;
}
#pontuacao42 {
    height: 20px;
    display: inline-block;
    margin: 0;
    width: 50%;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 140%;
    
}
#pontuacao43 {
    height: 20px;
    display: inline-block;
    margin: 0;
    width: 50%;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 140%;
}
#pontuacao44 {
    height: 20px;
    display: inline-block;
    margin: 0;
    width: 50%;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 140%;
    
}
#pontuacao45 {
    height: 20px;
    display: inline-block;
    margin: 0;
    width: 50%;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 140%;
}
#pontuacao46 {
    height: 20px;
    display: inline-block;
    margin: 0;
    width: 50%;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 140%;    
}
#pontuacao47 {
    height: 20px;
    display: inline-block;
    margin: 0;
    width: 50%;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 140%;
}
#pontuacao48 {
    height: 20px;
    display: inline-block;
    margin: 0;
    width: 50%;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 140%;
    
}
table{
    border-collapse: collapse;
    width: 80%;
}
#tema_pro{
    width: 50%;
    text-align: center;
    font-size: 120%;
}
